<main class="main-container">
  <app-search-bar (search)="onSearch($event)" />

  @if (currentView === 'weather' && weatherData) {
    <app-weather-info
      [country]="weatherData.name"
      [currentDate]="getCurrentDate()"
      [weatherIconPath]="getWeatherIconPath()"
      [temperature]="weatherData.main.temp"
      [condition]="weatherData.weather[0].description"
      [humidity]="weatherData.main.humidity"
      [windSpeed]="getWindSpeed()"
      [forecastData]="forecastData"
    />
  }

  @if (currentView === 'search') {
    <app-search-message />
  }

  @if (currentView === 'notFound') {
    <app-not-found />
  }
</main>
